---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Bollocraft <3">
	<div class="mx-auto py-20 max-w-3xl">
		<h1 class="text-6xl font-bold pb-10">Bollocraft</h1>
		<p>Bollocraft is a web app that allows you to create and share your own crafts.</p>
	</div>
</Layout>
<style>
	html {
		background: #000000;
		color: #ffffff;
	}
</style>
