---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Zzz">
	<!-- center div -->
	<div class="h-dvh flex items-center justify-center">
		<!-- image placeholder square -->
		<div class="h-48 w-48 bg-gray-500"></div>
	</div>
</Layout>

