---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Bollo is Zzz">
	<!-- center div -->
	<div class="h-dvh flex items-center justify-center">
		<!-- image placeholder square -->
		<div class="h-48 w-48">
			<img src="/bollosleep.gif" alt="Bollo is Zzz" class="h-full w-full object-contain" />
		</div>
	</div>
</Layout>

<style>
	html {
		background: #fcdb7c;
		color: #f45f6a;
	}
</style>
